
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/********HEADER******/

.title {
    margin-top: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 6rem;/*9rem initialemment*/
}

.nav-item  {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif; 
}

/********LINKS******/

.link {
    text-decoration: none;
    color:black;
}

.link:hover {
    color: black;
}

.link1{
    color: black;
}
.link1:hover{
    color:rgb(149, 17, 186);
}

.nav-link:hover{
    text-decoration: underline;
}

.link-title:hover{
    text-decoration: underline;
    color: lightslategray;
}

.link-title{
    color: black;
    text-decoration: none;
}

/********IMAGE AND TITLE*******/

.card{
    width: 18rem;
}

h2{
    font-family: 'Indie Flower', cursive;
}
.navbar .color{
    background-color: lightslategray;
}

.card-img-top:hover{
    box-shadow: 10px 5px 5px lightslategray;
}

/********FOOTER******/

footer{
    position: relative;
    margin-top: 5%;
    background-color: lightslategray;
}

/********PAGE ABOUT******/

div.polaroid {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.image {
    width: 100%;
}